<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncAll" version="1.0.1.0" targetFramework="net4" />
  <package id="LiteDB" version="1.0.3" targetFramework="net4" />
  <package id="SchwabenCode.Data.Entity" version="0.0.1-alpha" targetFramework="net452" />
  <package id="SchwabenCode.Data.Repository" version="0.0.5-alpha" targetFramework="net4" />
</packages>